{% extends "core/base.html" %}

{% block content %}
  {% if repositories %}
    <h1>{{ search_term }}</h1>
  {% endif %}
  {% for repo in repositories %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ forloop.counter }}. {{ repo.name }}</h3>
      </div>
      <div class="panel-body">
        <h4> Created {{ repo.created_at }}</h4>
        <div class="media">
          <div class="media-left">
            <a href="{{ repo.owner.url }}">
              <img src="{{ repo.owner.avatar_url }}" alt="avatar" class="thumbnail" height="42" width="42"/>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ repo.owner.login }}</h4>
          </div>
        </div>
        <h4>LastCommit</h4>
        <ul>
          <h5>SHA</h5>
          {{ repo.latest_commit.sha }}
          <h5>Message</h5>
          {{ repo.latest_commit.message }}
          <h5>Author</h5>
          {{ repo.latest_commit.author_name }}
        </ul>
      </div>
    </div>
  {% empty %}
    <br>
    <div class="panel panel-warning">
      <div class="panel-heading">No results</div>
      <div class="panel-body">
        Your search didn't match any results.
      </div>
    </div>
  {% endfor %}
{% endblock %}
