{% extends "core/base.html" %}

{% block content %}
<br>
<div class="panel panel-danger">
  <div class="panel-heading">Rate Limit Exceeded</div>
  <div class="panel-body">
    You've reached your limit. If you have a GitHub user and token, you can use
    them like this:<br>
    /navigator/?user=myuser&amp;password=mytoken&amp;search_term=python
    This way you can access a higher rate limit. More information at:<br>
    <a href="https://developer.github.com/v3/#rate-limiting">https://developer.github.com/v3/#rate-limiting</a>
  </div>
</div>
{% endblock %}
